/*
Theme Name: Sadr Trading
Author: Mehran Arjmand
Author URI: http://mehranarjmand.ir/
Description: Official theme Sadr Trading Co.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: sadr

*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
* {
  outline: none;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
  *zoom: 1;
}
.row *,
.row *:before,
.row *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row.collapse {
  margin-right: 0;
  margin-left: 0;
}
.column-large-1,
.column-large-2,
.column-large-3,
.column-large-4,
.column-large-5,
.column-large-6,
.column-large-7,
.column-large-8,
.column-large-9,
.column-large-10,
.column-large-11,
.column-large-12,
.column-medium-1,
.column-medium-2,
.column-medium-3,
.column-medium-4,
.column-medium-5,
.column-medium-6,
.column-medium-7,
.column-medium-8,
.column-medium-9,
.column-medium-10,
.column-medium-11,
.column-medium-12,
.column-small-1,
.column-small-2,
.column-small-3,
.column-small-4,
.column-small-5,
.column-small-6,
.column-small-7,
.column-small-8,
.column-small-9,
.column-small-10,
.column-small-11,
.column-small-12 {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 1px;
}
.row.collapse > .column-large-1,
.row.collapse > .column-large-2,
.row.collapse > .column-large-3,
.row.collapse > .column-large-4,
.row.collapse > .column-large-5,
.row.collapse > .column-large-6,
.row.collapse > .column-large-7,
.row.collapse > .column-large-8,
.row.collapse > .column-large-9,
.row.collapse > .column-large-10,
.row.collapse > .column-large-11,
.row.collapse > .column-large-12,
.row.collapse > .column-medium-1,
.row.collapse > .column-medium-2,
.row.collapse > .column-medium-3,
.row.collapse > .column-medium-4,
.row.collapse > .column-medium-5,
.row.collapse > .column-medium-6,
.row.collapse > .column-medium-7,
.row.collapse > .column-medium-8,
.row.collapse > .column-medium-9,
.row.collapse > .column-medium-10,
.row.collapse > .column-medium-11,
.row.collapse > .column-medium-12,
.row.collapse > .column-small-1,
.row.collapse > .column-small-2,
.row.collapse > .column-small-3,
.row.collapse > .column-small-4,
.row.collapse > .column-small-5,
.row.collapse > .column-small-6,
.row.collapse > .column-small-7,
.row.collapse > .column-small-8,
.row.collapse > .column-small-9,
.row.collapse > .column-small-10,
.row.collapse > .column-small-11,
.row.collapse > .column-small-12 {
  padding-right: 0;
  padding-left: 0;
}
.column-large-1.center,
.column-large-2.center,
.column-large-3.center,
.column-large-4.center,
.column-large-5.center,
.column-large-6.center,
.column-large-7.center,
.column-large-8.center,
.column-large-9.center,
.column-large-10.center,
.column-large-11.center,
.column-large-12.center,
.column-medium-1.center,
.column-medium-2.center,
.column-medium-3.center,
.column-medium-4.center,
.column-medium-5.center,
.column-medium-6.center,
.column-medium-7.center,
.column-medium-8.center,
.column-medium-9.center,
.column-medium-10.center,
.column-medium-11.center,
.column-medium-12.center,
.column-small-1.center,
.column-small-2.center,
.column-small-3.center,
.column-small-4.center,
.column-small-5.center,
.column-small-6.center,
.column-small-7.center,
.column-small-8.center,
.column-small-9.center,
.column-small-10.center,
.column-small-11.center,
.column-small-12.center {
  margin: 0 auto;
  float: none;
}
.column-large-1 {
  width: 8.333333333333334%;
}
.column-large-2 {
  width: 16.666666666666668%;
}
.column-large-3 {
  width: 25%;
}
.column-large-4 {
  width: 33.333333333333336%;
}
.column-large-5 {
  width: 41.66666666666667%;
}
.column-large-6 {
  width: 50%;
}
.column-large-7 {
  width: 58.333333333333336%;
}
.column-large-8 {
  width: 66.66666666666667%;
}
.column-large-9 {
  width: 75%;
}
.column-large-10 {
  width: 83.33333333333334%;
}
.column-large-11 {
  width: 91.66666666666667%;
}
.column-large-12 {
  width: 100%;
}
@media only screen and (max-width: 970px) {
  .column-medium-1 {
    width: 8.333333333333334%;
  }
  .column-medium-2 {
    width: 16.666666666666668%;
  }
  .column-medium-3 {
    width: 25%;
  }
  .column-medium-4 {
    width: 33.333333333333336%;
  }
  .column-medium-5 {
    width: 41.66666666666667%;
  }
  .column-medium-6 {
    width: 50%;
  }
  .column-medium-7 {
    width: 58.333333333333336%;
  }
  .column-medium-8 {
    width: 66.66666666666667%;
  }
  .column-medium-9 {
    width: 75%;
  }
  .column-medium-10 {
    width: 83.33333333333334%;
  }
  .column-medium-11 {
    width: 91.66666666666667%;
  }
  .column-medium-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .column-small-1 {
    width: 8.333333333333334%;
  }
  .column-small-2 {
    width: 16.666666666666668%;
  }
  .column-small-3 {
    width: 25%;
  }
  .column-small-4 {
    width: 33.333333333333336%;
  }
  .column-small-5 {
    width: 41.66666666666667%;
  }
  .column-small-6 {
    width: 50%;
  }
  .column-small-7 {
    width: 58.333333333333336%;
  }
  .column-small-8 {
    width: 66.66666666666667%;
  }
  .column-small-9 {
    width: 75%;
  }
  .column-small-10 {
    width: 83.33333333333334%;
  }
  .column-small-11 {
    width: 91.66666666666667%;
  }
  .column-small-12 {
    width: 100%;
  }
}
html {
  direction: ltr;
  font-family: Open Sans, IRANYekan, sans-serif;
  font-size: 16px;
  color: #37474f;
  background-color: #fff;
}
body {
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: #0d47a1;
}
a:hover {
  color: #115cd0;
}
a:focus {
  color: #1262df;
}
.text-red {
  color: #e53935;
}
.text-green {
  color: #57bb43;
}
.text-orange {
  color: #fbbc20;
}
.text-blue {
  color: #0d47a1;
}
.text-grey {
  color: #9e9e9e;
}
.text-small {
  font-size: 0.8em;
}
.text-large {
  font-size: 1.2em;
}
.text-xlarge {
  font-size: 1.6em;
}
code {
  direction: ltr;
}
h1 {
  font-size: 1.25rem;
  margin: 0;
}
h2 {
  font-size: 1.125rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}
h5 {
  font-size: 0.875rem;
}
hr {
  border: none;
  border-bottom: solid 1px #e1e1e1;
}
input {
  vertical-align: middle;
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
img {
  vertical-align: middle;
}
bdi {
  font-size: 1.1em;
}
p {
  line-height: 1.8;
}
.raw table,
.table,
.raw table_striped,
.table_striped,
.raw table_hover,
.table_hover,
.raw table_scroll,
.table_scroll {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: hidden;
  text-align: center;
  border: 1px solid #e1e1e1;
}
.raw table caption,
.table caption,
.raw table_striped caption,
.table_striped caption,
.raw table_hover caption,
.table_hover caption,
.raw table_scroll caption,
.table_scroll caption {
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
.raw table thead,
.table thead,
.raw table_striped thead,
.table_striped thead,
.raw table_hover thead,
.table_hover thead,
.raw table_scroll thead,
.table_scroll thead {
  border-bottom: 1px solid #e1e1e1;
  line-height: 1.2;
  font-weight: bold;
  background-color: #eceff1;
}
.raw table thead th img,
.table thead th img,
.raw table_striped thead th img,
.table_striped thead th img,
.raw table_hover thead th img,
.table_hover thead th img,
.raw table_scroll thead th img,
.table_scroll thead th img {
  width: 12px;
  height: 12px;
  cursor: pointer;
  vertical-align: middle;
}
.raw table thead th svg,
.table thead th svg,
.raw table_striped thead th svg,
.table_striped thead th svg,
.raw table_hover thead th svg,
.table_hover thead th svg,
.raw table_scroll thead th svg,
.table_scroll thead th svg {
  cursor: pointer;
  vertical-align: middle;
}
.raw table thead td,
.table thead td,
.raw table_striped thead td,
.table_striped thead td,
.raw table_hover thead td,
.table_hover thead td,
.raw table_scroll thead td,
.table_scroll thead td,
.raw table thead th,
.table thead th,
.raw table_striped thead th,
.table_striped thead th,
.raw table_hover thead th,
.table_hover thead th,
.raw table_scroll thead th,
.table_scroll thead th {
  text-align: left;
  font-size: 0.75rem;
  border: 1px solid #cfd8dc;
  font-weight: bold;
  padding: 13px 15px;
  text-transform: uppercase;
}
.raw table thead td:last-child,
.table thead td:last-child,
.raw table_striped thead td:last-child,
.table_striped thead td:last-child,
.raw table_hover thead td:last-child,
.table_hover thead td:last-child,
.raw table_scroll thead td:last-child,
.table_scroll thead td:last-child,
.raw table thead th:last-child,
.table thead th:last-child,
.raw table_striped thead th:last-child,
.table_striped thead th:last-child,
.raw table_hover thead th:last-child,
.table_hover thead th:last-child,
.raw table_scroll thead th:last-child,
.table_scroll thead th:last-child {
  border-top-right-radius: 3px;
}
.raw table tbody tr,
.table tbody tr,
.raw table_striped tbody tr,
.table_striped tbody tr,
.raw table_hover tbody tr,
.table_hover tbody tr,
.raw table_scroll tbody tr,
.table_scroll tbody tr {
  line-height: 1.2;
}
.raw table tbody tr td,
.table tbody tr td,
.raw table_striped tbody tr td,
.table_striped tbody tr td,
.raw table_hover tbody tr td,
.table_hover tbody tr td,
.raw table_scroll tbody tr td,
.table_scroll tbody tr td {
  vertical-align: middle;
}
.raw table tbody tr td a,
.table tbody tr td a,
.raw table_striped tbody tr td a,
.table_striped tbody tr td a,
.raw table_hover tbody tr td a,
.table_hover tbody tr td a,
.raw table_scroll tbody tr td a,
.table_scroll tbody tr td a {
  cursor: pointer;
  font-weight: bold;
}
.raw table tbody tr td input,
.table tbody tr td input,
.raw table_striped tbody tr td input,
.table_striped tbody tr td input,
.raw table_hover tbody tr td input,
.table_hover tbody tr td input,
.raw table_scroll tbody tr td input,
.table_scroll tbody tr td input {
  margin: 0 auto;
}
.raw table tbody tr.bg_green,
.table tbody tr.bg_green,
.raw table_striped tbody tr.bg_green,
.table_striped tbody tr.bg_green,
.raw table_hover tbody tr.bg_green,
.table_hover tbody tr.bg_green,
.raw table_scroll tbody tr.bg_green,
.table_scroll tbody tr.bg_green {
  background-color: #57bb43;
}
.raw table tbody tr.bg_green:hover,
.table tbody tr.bg_green:hover,
.raw table_striped tbody tr.bg_green:hover,
.table_striped tbody tr.bg_green:hover,
.raw table_hover tbody tr.bg_green:hover,
.table_hover tbody tr.bg_green:hover,
.raw table_scroll tbody tr.bg_green:hover,
.table_scroll tbody tr.bg_green:hover {
  background-color: #4ea83c;
}
.raw table tbody tr.bg_green td,
.table tbody tr.bg_green td,
.raw table_striped tbody tr.bg_green td,
.table_striped tbody tr.bg_green td,
.raw table_hover tbody tr.bg_green td,
.table_hover tbody tr.bg_green td,
.raw table_scroll tbody tr.bg_green td,
.table_scroll tbody tr.bg_green td {
  color: #fff;
}
.raw table tbody tr.bg_red,
.table tbody tr.bg_red,
.raw table_striped tbody tr.bg_red,
.table_striped tbody tr.bg_red,
.raw table_hover tbody tr.bg_red,
.table_hover tbody tr.bg_red,
.raw table_scroll tbody tr.bg_red,
.table_scroll tbody tr.bg_red {
  background-color: #e53935;
}
.raw table tbody tr.bg_red:hover,
.table tbody tr.bg_red:hover,
.raw table_striped tbody tr.bg_red:hover,
.table_striped tbody tr.bg_red:hover,
.raw table_hover tbody tr.bg_red:hover,
.table_hover tbody tr.bg_red:hover,
.raw table_scroll tbody tr.bg_red:hover,
.table_scroll tbody tr.bg_red:hover {
  background-color: #e1211d;
}
.raw table tbody tr.bg_red td,
.table tbody tr.bg_red td,
.raw table_striped tbody tr.bg_red td,
.table_striped tbody tr.bg_red td,
.raw table_hover tbody tr.bg_red td,
.table_hover tbody tr.bg_red td,
.raw table_scroll tbody tr.bg_red td,
.table_scroll tbody tr.bg_red td {
  color: #fff;
}
.raw table tfoot,
.table tfoot,
.raw table_striped tfoot,
.table_striped tfoot,
.raw table_hover tfoot,
.table_hover tfoot,
.raw table_scroll tfoot,
.table_scroll tfoot {
  line-height: 1.2;
  font-weight: bold;
}
.raw table td,
.table td,
.raw table_striped td,
.table_striped td,
.raw table_hover td,
.table_hover td,
.raw table_scroll td,
.table_scroll td,
.raw table th,
.table th,
.raw table_striped th,
.table_striped th,
.raw table_hover th,
.table_hover th,
.raw table_scroll th,
.table_scroll th {
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #cfd8dc;
  border-left: 1px solid #cfd8dc;
  padding: 10px 14px;
  text-align: left;
  font-size: 0.875rem;
}
.raw table_striped tbody tr:nth-child(odd),
.table_striped tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}
.raw table_hover tbody tr:hover,
.table_hover tbody tr:hover {
  background-color: #e7e7e7;
}
.raw table_scroll,
.table_scroll {
  overflow-x: auto;
}
.raw table_scroll table,
.table_scroll table {
  width: auto;
}
.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentcolor;
  pointer-events: none;
}
.icon.clickable {
  pointer-events: auto;
}
.icon.animate {
  -webkit-transition: transform;
  -moz-transition: transform;
  -o-transition: transform;
  transition: transform;
}
.icon.spin {
  -webkit-animation: spin infinite 1s 0s steps(8);
  -moz-animation: spin infinite 1s 0s steps(8);
  -o-animation: spin infinite 1s 0s steps(8);
  animation: spin infinite 1s 0s steps(8);
}
.icon.flip-h {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon.flip-v {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.icon.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon.rotate-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.btn,
.btn-blue,
.btn-green,
.btn-red,
.btn-grey,
.btn-light-blue,
.btn-orange,
.btn-navy,
.btn-fancy,
.btn-block,
.btn-large,
.btn-medium,
.btn-small {
  font-family: Open Sans, IRANYekan, sans-serif;
  padding: 13px 20px;
  outline: 0;
  border: 0;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: left 5px center;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
  font-size: 15px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: inline-block;
  background-color: #00b0ff;
}
.btn:disabled,
.btn-blue:disabled,
.btn-green:disabled,
.btn-red:disabled,
.btn-grey:disabled,
.btn-light-blue:disabled,
.btn-orange:disabled,
.btn-navy:disabled,
.btn-fancy:disabled,
.btn-block:disabled,
.btn-large:disabled,
.btn-medium:disabled,
.btn-small:disabled {
  cursor: not-allowed;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  background-color: #e1e1e1;
  color: #b4b4b4;
}
.btn:disabled:hover,
.btn-blue:disabled:hover,
.btn-green:disabled:hover,
.btn-red:disabled:hover,
.btn-grey:disabled:hover,
.btn-light-blue:disabled:hover,
.btn-orange:disabled:hover,
.btn-navy:disabled:hover,
.btn-fancy:disabled:hover,
.btn-block:disabled:hover,
.btn-large:disabled:hover,
.btn-medium:disabled:hover,
.btn-small:disabled:hover {
  background-color: #e1e1e1;
  color: #b4b4b4;
}
.btn-blue {
  background-color: #0d47a1;
  border-color: #0d47a1;
  color: #fff;
}
.btn-blue:hover {
  background-color: #0b3c89;
  color: #fff;
}
.btn-blue:focus {
  background-color: #0a3981;
  color: #fff;
}
.btn-green {
  background-color: #57bb43;
  border-color: #57bb43;
  color: #fff;
}
.btn-green:hover {
  background-color: #4a9f39;
  color: #fff;
}
.btn-green:focus {
  background-color: #469636;
  color: #fff;
}
.btn-red {
  background-color: #e53935;
  border-color: #e53935;
  color: #fff;
}
.btn-red:hover {
  background-color: #d4201b;
  color: #fff;
}
.btn-red:focus {
  background-color: #c81e1a;
  color: #fff;
}
.btn-grey {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
  color: #2d2d2d;
}
.btn-grey:hover {
  background-color: #bfbfbf;
  color: #2d2d2d;
}
.btn-grey:focus {
  background-color: #b4b4b4;
  color: #2d2d2d;
}
.btn-light-blue {
  background-color: #1976d2;
  color: #fff;
}
.btn-light-blue:hover {
  background-color: #145ea8;
}
.btn-orange {
  background-color: #fbbc20;
  color: #fff;
}
.btn-orange:hover {
  background-color: #dea004;
}
.btn-navy {
  background-color: #728f9e;
  color: #fff;
}
.btn-navy:hover {
  background-color: #536c78;
}
.btn-fancy {
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  border-radius: 3px;
  text-transform: uppercase;
}
.btn-block {
  width: 100%;
}
.btn-large {
  padding: 15px 35px;
  font-size: 1.125rem;
}
.btn-medium {
  padding: 5px 8px;
  font-size: 14px;
}
.btn-small {
  padding: 15px 30px;
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: lowercase;
}
.input,
.input_auto {
  font-family: Open Sans, IRANYekan, sans-serif;
  padding: 13px 10px;
  border-radius: 0;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px #cfd8dc;
  color: #37474f;
  background-position: left 5px center;
  line-height: normal;
  height: 46px;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.2);
}
.input:hover,
.input_auto:hover {
  border-color: #9eb0b8;
}
.input:focus,
.input_auto:focus {
  border-color: #1976d2;
  outline: 0;
}
.input:disabled,
.input_auto:disabled {
  background-color: #e1e1e1;
  cursor: not-allowed;
}
.input.has_error,
.input_auto.has_error {
  border-color: #e53935;
  color: #e53935;
}
.input.has_success,
.input_auto.has_success {
  border-color: #57bb43;
  color: #57bb43;
}
.input.ltr,
.input_auto.ltr {
  direction: ltr;
}
.input_auto {
  width: auto;
}
select.input {
  padding: 10px 10px;
}
textarea.input {
  resize: vertical;
  height: auto;
  line-height: 1.2;
  padding: 13px 10px;
}
input[type='checkbox'].input,
input[type='radio'].input {
  vertical-align: middle;
}
.switch {
  display: inline-block;
  vertical-align: middle;
}
.switch .switch_paddle {
  display: block;
  width: 35px;
  height: 20px;
  margin-top: 0.3em;
  margin-bottom: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #e1e1e1;
  border-radius: 1000px;
  border: solid 1px #b4b4b4;
  position: relative;
  cursor: pointer;
}
.switch .switch_paddle::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 1000px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.switch input {
  display: none;
}
.switch input:checked + .switch_paddle {
  background-color: #57bb43;
  border-color: #469636;
}
.switch input:checked + .switch_paddle::before {
  left: 15px;
}
.label {
  display: block;
  display: block;
  margin-bottom: 10px;
  line-height: 1.2;
  min-height: 30px;
}
.label_inline {
  display: block;
  text-align: left;
  margin-top: 0.3em;
}
.radio + label,
.checkbox + label {
  display: inline-block;
  margin-top: 0.3em;
}
.message_red,
.message_green {
  font-size: 0.688rem;
  text-align: right;
  display: block;
}
.message_red {
  color: #e53935;
}
.message_green {
  color: #57bb43;
}
.box {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.box-header {
  padding: 5px 8px;
  border-bottom: 1px solid #e1e1e1;
  *zoom: 1;
}
.box-header:before,
.box-header:after {
  content: " ";
  display: table;
}
.box-header:after {
  clear: both;
}
.box-title {
  float: left;
}
.box-tools {
  float: left;
}
.box-body {
  padding: 5px 8px;
}
.box-footer {
  border-top: 1px solid #e1e1e1;
  padding: 5px 8px;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.margin-top {
  margin-top: 10px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@media only screen and (min-width: 970px) {
  .leftdelimlarge {
    float: left !important;
  }
  .rightdelimlarge {
    float: right !important;
  }
  .text-centerdelimlarge {
    text-align: center !important;
  }
  .text-rightdelimlarge {
    text-align: right !important;
  }
  .text-leftdelimlarge {
    text-align: left !important;
  }
  .margin-topdelimlarge {
    margin-top: 10px;
  }
  .margin-bottomdelimlarge {
    margin-bottom: 10px;
  }
  .clearfixdelimlarge {
    *zoom: 1;
  }
  .clearfixdelimlarge:before,
  .clearfixdelimlarge:after {
    content: " ";
    display: table;
  }
  .clearfixdelimlarge:after {
    clear: both;
  }
}
@media only screen and (min-width: 750px) and (max-width: 970px) {
  .leftdelimmedium {
    float: left !important;
  }
  .rightdelimmedium {
    float: right !important;
  }
  .text-centerdelimmedium {
    text-align: center !important;
  }
  .text-rightdelimmedium {
    text-align: right !important;
  }
  .text-leftdelimmedium {
    text-align: left !important;
  }
  .margin-topdelimmedium {
    margin-top: 10px;
  }
  .margin-bottomdelimmedium {
    margin-bottom: 10px;
  }
  .clearfixdelimmedium {
    *zoom: 1;
  }
  .clearfixdelimmedium:before,
  .clearfixdelimmedium:after {
    content: " ";
    display: table;
  }
  .clearfixdelimmedium:after {
    clear: both;
  }
}
@media only screen and (max-width: 750px) {
  .leftdelimsmall {
    float: left !important;
  }
  .rightdelimsmall {
    float: right !important;
  }
  .text-centerdelimsmall {
    text-align: center !important;
  }
  .text-rightdelimsmall {
    text-align: right !important;
  }
  .text-leftdelimsmall {
    text-align: left !important;
  }
  .margin-topdelimsmall {
    margin-top: 10px;
  }
  .margin-bottomdelimsmall {
    margin-bottom: 10px;
  }
  .clearfixdelimsmall {
    *zoom: 1;
  }
  .clearfixdelimsmall:before,
  .clearfixdelimsmall:after {
    content: " ";
    display: table;
  }
  .clearfixdelimsmall:after {
    clear: both;
  }
}
body.has_modal {
  overflow: hidden;
}
.modal {
  height: 100%;
  overflow: auto;
}
.modal_back {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
}
.modal_box {
  width: 200px;
  background-color: #fff;
  margin: 30px auto;
}
.alert,
.alert-red,
.alert-green,
.alert-orange {
  font-size: 0.75rem;
  line-height: 1.5;
  display: block;
  padding: 13px 20px;
  border-radius: 0;
  margin-bottom: 10px;
  color: #fff;
}
.alert a,
.alert-red a,
.alert-green a,
.alert-orange a {
  color: rgba(255,255,255,0.8);
  border-bottom: dotted 1px #fff;
}
.alert a:hover,
.alert-red a:hover,
.alert-green a:hover,
.alert-orange a:hover {
  color: #fff;
}
.alert-red {
  background-color: #e53935;
}
.alert-green {
  background-color: #57bb43;
}
.alert-orange {
  background-color: #fbbc20;
  border: solid 1px #dea004;
}
[data-tooltip] {
  position: relative;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px;
  background-color: #333;
  padding: 5px 8px;
  white-space: pre;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
  font-size: 0.625rem;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5px) translateX(50%);
  -moz-transform: translateY(-5px) translateX(50%);
  -ms-transform: translateY(-5px) translateX(50%);
  -o-transform: translateY(-5px) translateX(50%);
  transform: translateY(-5px) translateX(50%);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
  -o-transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}
[data-tooltip]::before {
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #333;
  position: absolute;
  right: 50%;
  bottom: 100%;
  margin-bottom: -5px;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: translateY(-5px) translateX(50%);
  -moz-transform: translateY(-5px) translateX(50%);
  -ms-transform: translateY(-5px) translateX(50%);
  -o-transform: translateY(-5px) translateX(50%);
  transform: translateY(-5px) translateX(50%);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
  -o-transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}
[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  visibility: visible;
  -webkit-transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
  -o-transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
[data-tooltip]:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
}
[data-tooltip]:hover::before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.ratio-4x3,
.ratio-7x5 {
  position: relative;
}
.ratio-4x3::before,
.ratio-7x5::before {
  content: "";
  display: block;
}
.ratio-4x3 .ratio-inner,
.ratio-7x5 .ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ratio-4x3::before {
  padding-top: 75%;
}
.ratio-7x5::before {
  padding-top: 71.42857142857143%;
}
.main-header {
  background-color: #fff;
  *zoom: 1;
}
.main-header:before,
.main-header:after {
  content: " ";
  display: table;
}
.main-header:after {
  clear: both;
}
.main-header.shadow {
  box-shadow: 0px 6px 13px 0px #263238;
  box-shadow: 0px 6px 13px 0px rgba(38,50,56,0.12);
  -webkit-box-shadow: 0px 6px 13px 0px rgba(38,50,56,0.12);
  -moz-box-shadow: 0px 6px 13px 0px rgba(38,50,56,0.12);
  box-shadow: 0px 6px 13px 0px rgba(38,50,56,0.12);
}
.main-header .custom-logo {
  height: 78px;
  width: auto;
  float: left;
  margin: 10px 0;
}
.main-header .languages,
.main-header .nav-menu {
  float: right;
}
.main-header .languages {
  font-size: 0.75rem;
  border: 1px solid #e1e1e1;
  border-top: none;
  border-radius: 0 0 3px 3px;
}
.main-header .languages li {
  float: left;
}
.main-header .languages a {
  display: block;
  padding: 10px 7px;
  color: #455a64;
}
.main-header .languages img {
  vertical-align: middle;
  height: 11px;
  margin-right: 3px;
}
.main-header .languages .fa {
  font-size: 0.625rem;
}
.main-header .nav-menu {
  font-size: 0.875rem;
  clear: right;
  margin-top: 10px;
}
.main-header .nav-menu li {
  float: left;
}
.main-header .nav-menu a {
  display: block;
  padding: 18px 20px;
  color: #455a64;
}
.main-header .nav-menu .active {
  color: #0d47a1;
}
.main-slider {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-color: #0d47a1;
}
.main-slider .slider-overlay {
  position: relative;
  z-index: 50;
  padding: 170px 0;
}
.main-slider .slides {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.main-slider .slides img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.main-slider .site-title {
  font-family: Playfair Display, serif;
  font-size: 2.813rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-slider .site-desc {
  font-size: 1.563rem;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.main-footer {
  padding: 30px 0;
  background-color: #455a64;
  font-size: 0.75rem;
  color: #a9b7cb;
}
.main-footer .logo img {
  max-width: 100%;
  margin-bottom: 10px;
}
.main-footer a {
  color: #a9b7cb;
  font-size: 1em;
}
.main-footer a:hover {
  color: #e1e4e6;
}
.main-footer .footer-widget {
  line-height: 1.8;
}
.main-footer .footer-widget .widget-title {
  font-size: 0.875rem;
  color: #e1e4e6;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.main-footer .footer-widget.widget-text {
  *zoom: 1;
}
.main-footer .footer-widget.widget-text:before,
.main-footer .footer-widget.widget-text:after {
  content: " ";
  display: table;
}
.main-footer .footer-widget.widget-text:after {
  clear: both;
}
.main-footer .footer-widget.widget-text dt {
  float: left;
  width: 60px;
}
.main-footer .footer-widget.widget-text dd {
  margin-left: 60px;
  margin-bottom: 5px;
}
.page .page-header {
  position: relative;
  background: #0d47a1 url("assets/images/transit-3.jpg") center center/cover no-repeat scroll;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}
.page .page-header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  background: rgba(13,71,161,0.8);
}
.page .page-header .page-title {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.5;
}
.page .page-header .page-subtitle {
  position: relative;
  font-size: 1.063rem;
}
.page .page-content {
  clear: both;
  margin-bottom: 50px;
}
.section-title {
  font-size: 1.75rem;
  font-family: Playfair Display, serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #113e85;
  margin-top: 30px;
}
.section-title::after {
  content: '';
  display: block;
  width: 36px;
  height: 2px;
  background-color: #113e85;
  margin: 8px auto;
}
.raw {
  font-size: 0.875rem;
}
.raw p {
  margin-bottom: 20px;
}
.raw h2 {
  font-size: 1.142857142857143em;
  font-weight: bold;
  line-height: 2;
}
.raw h3 {
  font-size: 1.071428571428571em;
  font-weight: bold;
  line-height: 2;
}
.raw h4 {
  font-size: 1.071428571428571em;
  line-height: 2;
}
.raw h5 {
  font-size: 1em;
  line-height: 2;
}
.services-section {
  padding: 110px 0;
}
.services-section .title {
  position: relative;
  font-family: Playfair Display, serif;
  font-size: 38px;
  text-transform: uppercase;
  color: #113e85;
  background-color: #dea004;
  overflow: hidden;
  padding: 70px 35px 85px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  -webkit-box-shadow: 0px 8px 15px 0px #000;
  -moz-box-shadow: 0px 8px 15px 0px #000;
  box-shadow: 0px 8px 15px 0px #000;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
}
.services-section .title::before {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  bottom: 0;
  left: -30px;
  display: block;
  background-image: url("assets/images/transit-1.jpg");
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.services-section .title span {
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  display: block;
}
.services-section .title span:last-child {
  font-weight: bold;
}
.services-section .title span:last-child::after {
  content: '';
  display: block;
  width: 36px;
  height: 2px;
  background-color: #113e85;
  margin-top: 5px;
}
.services-section .section-desc {
  margin-top: 20px;
}
.services-section .section-desc .read-more {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: solid 1px #0d47a1;
  padding-bottom: 3px;
  margin-top: 15px;
}
.services-page {
  color: #455a64;
  line-height: 2.2;
}
.services-page .quote {
  margin-bottom: 30px;
}
.services-page .page-content {
  margin-bottom: 0;
}
.services-page .wrapper {
  position: relative;
}
.services-page h2 {
  font-family: Playfair Display, serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #113e85;
  margin-bottom: 13px;
}
.services-page .founder-info {
  margin-top: 10px;
}
.services-page .founder-name {
  font-size: 1rem;
  font-weight: bold;
}
.services-page .founder-title {
  font-size: 0.875rem;
}
.services-page .man-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.services-page .services-list {
  background-color: #f7f7f7;
  padding: 50px 0;
}
.services-page .services-list .title {
  font-family: Open Sans, IRANYekan, sans-serif;
  font-size: 1.25rem;
  color: #37474f;
  text-align: center;
  text-transform: uppercase;
}
.services-page .services-list .title::after {
  content: "";
  display: block;
  width: 55px;
  height: 5px;
  background-color: #fbbc20;
  margin: 0 auto;
}
.services-page .services-list .subtitle {
  text-align: center;
  font-size: 0.875rem;
  max-width: 512px;
  margin: 0 auto 50px;
}
.service-block:not(:last-child) {
  margin-bottom: 50px;
}
.service-block .service-img {
  position: relative;
  height: 210px;
}
.service-block .service-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(13,71,161,0.8);
  display: block;
}
.service-block .service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-block .service-desc {
  font-size: 0.875rem;
  line-height: 2.2;
}
.service-block .service-title {
  position: absolute;
  top: 50%;
  right: 50%;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.service-block .btn {
  margin-top: 10px;
}
.products-section {
  margin-bottom: 30px;
}
.products-section .section-title {
  font-size: 2.375rem;
  font-family: Playfair Display, serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #113e85;
}
.products-section .section-title::after {
  content: '';
  display: block;
  width: 36px;
  height: 2px;
  background-color: #113e85;
  margin: 5px auto;
}
.product-block {
  height: 0;
  margin: 0;
  position: relative;
  padding-top: 60%;
  background-color: #e1e1e1;
  margin-bottom: 35px;
}
.product-block img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-block figcaption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0d47a1;
  font-size: 1.063rem;
  color: #fff;
  text-align: center;
  padding: 12px 7px;
  text-transform: capitalize;
  -webkit-transition: padding 0.3s ease;
  -moz-transition: padding 0.3s ease;
  -o-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}
.product-block:hover figcaption {
  padding-top: 20px;
  padding-bottom: 20px;
}
.products-page .page-header {
  text-align: left;
}
.products-page .page-header .page-title {
  font-family: Playfair Display, serif;
  font-size: 2.813rem;
  text-transform: capitalize;
}
.products-page .product-list {
  position: relative;
  background: #546e7a url("assets/images/transit-4.jpg") center center/cover scroll no-repeat;
  padding: 30px 0;
}
.products-page .product-list .section-title {
  position: relative;
  color: #fff;
}
.products-page .product-list .section-title::after {
  background-color: #fff;
}
.products-page .product-list:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(84,110,122,0.9);
}
.products-page .product-block figcaption {
  background-color: #fbbc20;
  color: #113e85;
}
.product-page {
  *zoom: 1;
  padding: 50px 0;
}
.product-page:before,
.product-page:after {
  content: " ";
  display: table;
}
.product-page:after {
  clear: both;
}
.product-page .product-title {
  color: #113e85;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.product-page .product-desc {
  font-size: 1.125rem;
  margin-bottom: 5px;
}
.product-page .product-origin {
  font-size: 1rem;
  color: #e53935;
}
.product-page .product-origin::after {
  content: "";
  display: block;
  height: 5px;
  width: 60px;
  background-color: #455a64;
  margin: 10px 0 15px;
}
.product-page .product-images {
  float: right;
  width: 450px;
  margin: 0 -5px 20px 55px;
}
.product-page .product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-page .product-images figure {
  margin: 0;
}
.product-page .product-images figure img {
  padding: 0 5px;
}
.product-page .product-images figure:first-child {
  width: 100%;
  height: auto;
}
.product-page .product-images figure:not(:first-child) {
  margin-top: 10px;
  width: 33.333333333333336%;
  float: left;
}
.product-page .product-images figure:nth-child(n+5) {
  display: none;
}
.product-page .product-images .overlay-box {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  left: 5px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 1.375rem;
  pointer-events: none;
}
.product-page .product-images .overlay-box span {
  position: absolute;
  top: 50%;
  right: 50%;
  display: block;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.product-page .comment-form {
  margin-top: 40px;
  margin-bottom: 30px;
}
.product-page .comment-form .title {
  text-align: center;
  color: #113e85;
  font-size: 1.375rem;
}
.product-page .comment-form .subtitle {
  text-align: center;
  color: #878787;
  margin-bottom: 20px;
}
.contact-page .contact-info {
  background-color: #eceff1;
  padding: 15px 13px;
}
.contact-page .contact-info dl {
  font-size: 0.875rem;
  line-height: 2.1;
  color: #455a64;
}
.contact-page .contact-info dl a {
  color: #617e8c;
}
.contact-page .contact-info dl dt {
  font-weight: bold;
  float: left;
  width: 120px;
}
.contact-page .contact-info dl dd {
  margin-left: 120px;
  margin-bottom: 10px;
}
.contact-page .title {
  color: #455a64;
  font-size: 1.25rem;
}
.contact-page .title::after {
  content: "";
  display: block;
  background-color: #78909c;
  height: 4px;
  width: 40px;
  margin-top: 7px;
  margin-bottom: 10px;
}
.contact-page .map {
  background-color: #e1e1e1;
  height: 480px;
}
.contact-page .wrapper {
  margin-bottom: 50px;
}
.contact-page .page-content {
  margin-bottom: 0;
}
.contact-us-section {
  position: relative;
  padding: 73px 0;
  background: #e1e1e1 url("assets/images/transit-2.jpg") center center/cover scroll no-repeat;
}
.contact-us-section::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(225,225,225,0.9);
}
.contact-us-section .contact-us-block {
  position: relative;
  padding: 30px 35px;
  background: transparent url("assets/images/pattern-1.png") center center/5px 5px scroll repeat;
}
.contact-us-section .contact-us-block::before {
  content: '';
  background-color: #fbbc20;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
}
.contact-us-section .contact-us-block::after {
  content: '';
  display: table;
  clear: both;
}
.contact-us-section p,
.contact-us-section .btn {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
}
.contact-us-section p {
  display: inline-block;
  color: #113e85;
  padding: 15px 0;
}
.contact-us-section .btn {
  border: 3px solid #00bff3;
  padding: 12px 10px;
  float: right;
  text-transform: lowercase;
}
.about-page {
  margin-bottom: 100px;
}
.about-page .page-header {
  padding-bottom: 110px;
}
.about-page .page-header .page-title {
  font-size: 1.125rem;
}
.about-page .site-info {
  position: relative;
  background: #fbbc20 url("assets/images/transit-4.jpg") center center/cover no-repeat scroll;
  -webkit-box-shadow: 0px 8px 15px 0px #000;
  -moz-box-shadow: 0px 8px 15px 0px #000;
  box-shadow: 0px 8px 15px 0px #000;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
  padding: 25px 0;
  color: #fff;
  margin-top: 30px;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.about-page .site-info::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  background: rgba(251,188,32,0.8);
}
.about-page .site-info .site-title {
  position: relative;
  font-family: Playfair Display, serif;
  font-weight: bold;
  font-size: 2.813rem;
  text-transform: capitalize;
}
.about-page .site-info .site-desc {
  position: relative;
  font-size: 1.563rem;
  text-transform: uppercase;
}
.about-page .management-block {
  margin: 0;
}
.about-page .management-block img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.about-page .management-block figcaption {
  display: block;
  background-color: #0d47a1;
  font-size: ren(17);
  color: #fff;
  text-align: center;
  padding: 13px 10px;
  margin: 0;
}
.about-page .management-block figcaption .title,
.about-page .management-block figcaption .position {
  display: block;
}
.about-page .management-block figcaption .position {
  font-size: 0.813rem;
  color: #7da9ee;
  margin-top: 5px;
}
.search-result {
  padding: 50px 0;
}
.search-result .search-item {
  margin-bottom: 30px;
}
.search-result .search-item .title {
  font-size: 1.125rem;
  color: #37474f;
  margin-bottom: 3px;
}
.search-result .search-item .link {
  font-size: 0.875rem;
  display: block;
  margin-bottom: 5px;
}
.search-result .search-item .link::after {
  content: "";
  display: table;
  clear: both;
}
.search-result .search-item .desc {
  font-size: 0.875rem;
  line-height: 1.5;
}
.search-result .search-item .thumb {
  max-width: 200px;
  height: 40px;
  float: left;
  margin-right: 10px;
}
.search-result .search-item .sub-links {
  margin-top: 10px;
}
.search-result .search-item .sub-links li {
  display: inline-block;
}
.search-result .search-item .sub-links a {
  color: #0d47a1;
  font-size: 0.813rem;
  display: block;
  padding: 3px 0;
  margin: 0 15px;
  border-bottom: solid 1px #0d47a1;
}

/*# sourceMappingURL=style.css.map */
