.about-page
  margin-bottom: 100px
  
  .page-header
    padding-bottom: 110px

    .page-title
      font-size: rem(18)

  .site-info
    position: relative
    background: colors.orange url('../images/transit-4.jpg') center center/cover no-repeat scroll
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2)
    padding: 25px 0
    color: white
    margin-top: 30px
    float: left
    width: 100%
    margin-bottom: 30px


    &::before
      absolute: 0 0 0 0
      content: ''
      display: block
      background: alpha(colors.orange, 0.8)
    
    .site-title
      position: relative
      font-family: fonts.serif
      font-weight: bold
      font-size: rem(45)
      text-transform: capitalize

    .site-desc
      position: relative
      font-size: rem(25)
      text-transform: uppercase

  .management-block
    margin: 0

    img
      width: 100%
      height: 300px
      object-fit: cover

    figcaption
      display: block
      background-color: colors.blue
      font-size: ren(17)
      color: white
      text-align: center
      padding: 13px 10px
      margin: 0

      .title
      .position
        display: block

      .position
        font-size: rem(13)
        color: #7da9ee
        margin-top: 5px
