.contact-page
  .contact-info
    background-color: #eceff1
    padding: 15px 13px

    dl
      font-size: rem(14)
      line-height: 2.1
      color: colors.link

      a
        color: @color + 20%

      dt
        font-weight: bold
        float: left
        width: 120px

      dd
        margin-left: 120px
        margin-bottom: 10px

  .title
    color: colors.navy-blue
    font-size: rem(20)

    &::after
      content: ""
      display: block
      background-color: #78909c
      height: 4px
      width: 40px
      margin-top: 7px
      margin-bottom: 10px

  .map
    background-color: colors.grey
    height: 480px

  .wrapper
    margin-bottom: 50px  

  .page-content
    margin-bottom: 0

.contact-us-section
  position: relative
  padding: 73px 0
  background: colors.grey url('../images/transit-2.jpg') center center/cover scroll no-repeat
  &::before
    content: ''
    display: block
    absolute: 0 0 0 0
    background-color: alpha(colors.grey, .9)
  
  .contact-us-block
    position: relative
    padding: 30px 35px
    background: transparent url('../images/pattern-1.png') center center/5px 5px scroll repeat

    &::before
      content: ''
      background-color: colors.orange
      absolute: 15px 15px 15px 15px

    &::after
      content: ''
      display: table
      clear: both

  p
  .btn
    font-size: rem(24)
    font-weight: bold
    line-height: 1.2
    position: relative
    
  p
    display: inline-block
    color: colors.ink
    padding: 15px 0
  
  .btn
    border: 3px solid #00BFF3
    padding 12px 10px
    float: right
    text-transform: lowercase
