.main-footer
  padding: 30px 0
  background-color: colors.navy-blue
  font-size: rem(12)
  color: #a9b7cb
  
  .logo
    img
      max-width: 100%
      margin-bottom: 10px
      
  a
    color: @color
    font-size: 1em
    &:hover
      color: #e1e4e6
    
  .footer-widget
    line-height: 1.8
    
    .widget-title
      font-size: rem(14)
      color: #e1e4e6
      text-transform: uppercase
      margin-bottom: 5px
    
    // &.widget-menu
    //   a
    //     line-height: 1.6
    
    &.widget-text
      clear: fix

      dt
        float: left
        width: 60px

      dd
        margin-left: 60px
        margin-bottom: 5px
