.main-header
  background-color: #fff
  clear: fix

  &.shadow
    box-shadow: 0px 6px 13px 0px rgba(38, 50, 56, 0.12)
  
  .logo
    height: 78px
    width: auto
    float: left
    margin: 10px 0
  
  .languages
  .nav-menu
    float: right
    
  .languages
    font-size: rem(12)
    border: 1px solid colors.border
    border-top: none
    border-radius: 0 0 3px 3px
    li
      float: left
    a
      display: block
      padding: 10px 7px
      color: colors.link
    img
      vertical-align: middle
      height: 11px
      margin-right: 3px
    .fa
      font-size: rem(10)
      
      
  .nav-menu
    font-size: rem(14)
    clear: right
    margin-top: 10px
    li
      float: left
    a
      display: block
      padding: 18px 20px
      color: colors.link
    .active
      color: colors.link-active
