.page
  .page-header
    position: relative
    background: colors.blue url('../images/transit-3.jpg') center center/cover no-repeat scroll
    color: white
    text-align: center
    padding: 50px 0
    margin-bottom: 50px

    &::before
      absolute: 0 0 0 0
      content: ''
      display: block
      background: alpha(colors.blue, 0.8)

    .page-title
      position: relative
      font-weight: bold
      font-size: rem(24)
      text-transform: uppercase
      line-height: 1.5

    .page-subtitle
      position: relative
      font-size: rem(17)

  .page-content
    clear: both
    margin-bottom: 50px

.section-title
  font-size: rem(28)
  font-family: fonts.serif
  text-transform: uppercase
  text-align: center
  margin-bottom: 30px
  color: colors.ink
  margin-top: 30px

  &::after
    content: ''
    display: block
    size: 36px 2px
    background-color: colors.ink
    margin: 8px auto
