.products-section
  margin-bottom: 30px
  .section-title
    font-size: rem(38)
    font-family: fonts.serif
    text-transform: uppercase
    text-align: center
    margin-bottom: 20px
    color: colors.ink
    
    &::after
      content: ''
      display: block
      size: 36px 2px
      background-color: colors.ink
      margin: 5px auto
      
.product-block
  height: 0
  margin: 0
  position: relative
  padding-top: .6 * 100%
  background-color: colors.grey
  margin-bottom: 35px

  img
    absolute: 0 0 0 0
    size: 100%
    object-fit: cover
    
    
  figcaption
    absolute: false 0 0 0
    background-color: colors.blue
    font-size: rem(17)
    color: #fff
    text-align: center
    padding: 12px 7px
    text-transform: capitalize
    transition: padding 0.3s ease

  &:hover
    figcaption
      padding: 20px false


.products-page

  .page-header
    text-align: left
    
    .page-title
      font-family: fonts.serif
      font-size: rem(45)
      text-transform: capitalize

  .product-list
    position: relative
    background: #546e7a url('../images/transit-4.jpg') center center/cover scroll no-repeat
    padding: 30px 0

    .section-title
      position: relative
      color: white
      &::after
        background-color: white 

    &:before
      content: ""
      absolute: 0 0 0 0
      background-color: alpha(#546e7a, .9)

  
  .product-block
    figcaption
      background-color: colors.orange
      color: colors.ink


.product-page
  clear: fix
  padding: 50px 0

  .product-title
    color: colors.ink
    font-weight: bold
    font-size: rem(24)
    text-transform: uppercase

  .product-desc
    font-size: rem(18)
    margin-bottom: 5px

  .product-origin
    font-size: rem(16)
    color: colors.red

    &::after
      content: ""
      display: block
      height: 5px
      width: 60px
      background-color: colors.navy-blue
      margin: 10px 0 15px

  .product-images
    float: right
    width: 450px
    margin: 0 -5px 20px 55px

    img
      size: 100% 100%
      object-fit: cover

    figure
      margin: 0
      img
        padding: 0 5px

    figure:first-child
      width: 100%
      height: auto

    figure:not(:first-child)
      margin-top: 10px
      width: (100% / 3)
      float: left

    figure:nth-child(n+5)
      display: none

    .overlay-box
      absolute: 0 5px
      background-color: alpha(black, .4)
      color: white
      font-size: rem(22)
      pointer-events: none

      span
        absolute: 50% 50% false false
        display: block
        transform: translate(50%, -50%)

  .comment-form
    margin-top: 40px
    margin-bottom: 30px

    .title
      text-align: center
      color: colors.ink
      font-size: rem(22)

    .subtitle
      text-align: center
      color: colors.grey - 40%
      margin-bottom: 20px
