
.ratio-4x3
.ratio-7x5
  position: relative

  &::before
    content: ""
    display: block

  .ratio-inner
    absolute: 0 0 0 0


.ratio-4x3
  &::before
    padding-top: 100% * (3/4)

.ratio-7x5
  &::before
    padding-top: 100% * (5/7)
