.raw
  font-size: rem(14)
  p
    margin-bottom: 20px
  h2
    font-size: em(16, 14)
    font-weight: bold
    line-height: 2

  h3
    font-size: em(15, 14)
    font-weight: bold
    line-height: 2

  h4
    font-size: em(15, 14)
    line-height: 2
  
  h5
    font-size: em(14, 14)
    line-height: 2
