.search-result
    padding: 50px 0

    .search-item
        margin-bottom: 30px
        .title
            font-size: rem(18)
            color: colors.text
            margin-bottom 3px
        .link
            font-size: rem(14)
            display: block
            margin-bottom: 5px
            &::after
                content: ""
                display: table
                clear: both
        .desc
            font-size: rem(14)
            line-height 1.5
        .thumb
            max-width: 200px
            height: 40px
            float: left
            margin-right: 10px
        .sub-links
            margin-top: 10px
            li
                display: inline-block
            a
                color: colors.blue
                font-size: rem(13)
                display: block
                padding: 3px 0
                margin: 0 15px
                border-bottom: solid 1px colors.blue
        
