.services-section
  padding: 110px 0
  
  .title
    position: relative
    font-family: fonts.serif
    font-size: 38px
    text-transform: uppercase
    color: colors.ink
    background-color: colors.orange - 20%
    overflow: hidden
    padding: 70px 35px 85px
    margin-left: 20px
    margin-right: 20px
    transform: skew(-10deg)
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2)
    
    &::before
      content: ''
      absolute: 0 -30px 0 -30px
      display: block
      background-image: url('../images/transit-1.jpg')
      transform: skew(10deg)
      opacity: .2
    
    
    span
      transform: skew(10deg)
      display: block
      
    span:last-child
      font-weight: bold
      &::after
        content: ''
        display: block
        size: 36px 2px
        background-color: colors.ink
        margin-top: 5px
   
  .section-desc
    margin-top: 20px
    
    .read-more
      display: inline-block
      text-transform: uppercase
      border-bottom: solid 1px colors.blue
      padding-bottom: 3px
      margin-top: 15px





.services-page
  color: colors.navy-blue
  line-height: 2.2

  .quote
    margin-bottom: 30px

  .page-content
    margin-bottom: 0

  .wrapper
    position: relative

  h2
    font-family: fonts.serif
    font-size: rem(24)
    font-weight: bold
    color: colors.ink
    margin-bottom: 13px

  .founder-info
    margin-top: 10px

  .founder-name
    font-size: rem(16)
    font-weight: bold

  .founder-title
    font-size: rem(14)

  .man-img
    position: absolute
    bottom: 0
    right: 0




  .services-list
    background-color: #f7f7f7
    padding: 50px 0

    .title
      font-family: fonts.sans
      font-size: rem(20)
      color: #37474f
      text-align: center
      text-transform: uppercase

      &::after
        content: ""
        display: block
        width: 55px
        height: 5px
        background-color: colors.orange
        margin: 0 auto

    .subtitle
      text-align: center
      font-size: rem(14)
      max-width: 512px
      margin: 0 auto 50px

.service-block

  &:not(:last-child)
    margin-bottom: 50px

  .service-img
    position: relative
    height: 210px

    &::before
      content: ""
      absolute: 0 0 0 0
      background-color: alpha(colors.blue, 0.8)
      display: block

    img
      width: 100%
      height: 100%
      object-fit: cover

  .service-desc
    font-size: rem(14)
    line-height: 2.2

  .service-title
    absolute: 50% 50% false false
    font-weight: bold
    font-size: rem(24)
    text-align: center
    color: #fff
    text-transform: uppercase
    transform: translate(50%, -50%)

  .btn
    margin-top: 10px
