.main-slider
  position: relative
  overflow: hidden
  text-align: center
  color: #fff
  background-color: colors.blue
  
  .slider-overlay
    position: relative
    z-index: 50
    padding: 170px 0

  .slides
    absolute: 0 0 0 0
    img
      opacity: .2
  
  .site-title
    font-family: 'Playfair Display' serif
    font-size: rem(45)
    font-weight: bold
    margin-bottom: 10px
   
  .site-desc
    font-size: rem(25)
    text-transform: uppercase
    margin-bottom: 35px
