

<header class="main-header{{#ifpage 'product' 'category'}} shadow{{/ifpage}}">

  <div class="wrapper">

    <a href="index.html" class="logo">
      <img src="assets/images/.tmp/logo.png">
    </a>

    <div class="languages">
      <ul>
        <li class="fa">
          <a href="#"><img src="assets/images/.tmp/iran.png">فارسی</a>
        </li>
        <li class="en">
          <a href="#"><img src="assets/images/.tmp/english.png">English</a>
        </li>
        <li class="ru">
          <a href="#"><img src="assets/images/.tmp/russia.png">русский</a>
        </li>
      </ul>
    </div>

    <nav class="nav-menu">
      <ul>
        {{#each pages}}
        {{#ifequal this page}}
        <li><a href="{{ this }}.html" class="active">{{ @key }}</a></li>
        {{else}}
        <li><a href="{{ this }}.html">{{ @key }}</a></li>
        {{/ifequal}}
        {{/each}}
      </ul>
    </nav>

  </div>

</header>