<div class="products-section">
  <div class="wrapper">
    
    <h2 class="section-title">product list</h2>
    
    <!-- products -->
    
    <div class="row">
      <div class="column-large-4">
        
        <a href="category.html">
          <figure class="product-block">
            <img src="assets/images/.tmp/product-5.jpg" alt="">
            <figcaption> Petroleum products </figcaption>
          </figure>
        </a>

      </div>
      <div class="column-large-4">
        
        <a href="category.html">
          <figure class="product-block">
            <img src="assets/images/.tmp/product-6.jpg" alt="">
            <figcaption> Food grade & Industrial Oils </figcaption>
          </figure>
        </a>

      </div>
      <div class="column-large-4">
        
        <a href="category.html">
          <figure class="product-block">
            <img src="assets/images/.tmp/product-7.jpg" alt="">
            <figcaption> Agricultural products </figcaption>
          </figure>
        </a>

      </div>
      <div class="column-large-4">
        
        <a href="category.html">
          <figure class="product-block">
            <img src="assets/images/.tmp/product-1.jpg" alt="">
            <figcaption> Animal Feed Products </figcaption>
          </figure>
        </a>

      </div>
      <div class="column-large-4">
        
        <a href="category.html">
          <figure class="product-block">
            <img src="assets/images/.tmp/product-2.jpg" alt="">
            <figcaption> Textile, cotton & Synthetic Fibers </figcaption>
          </figure>
        </a>

      </div>
      <div class="column-large-4">
        
        <a href="category.html">
          <figure class="product-block">
            <img src="assets/images/.tmp/product-3.jpg" alt="">
            <figcaption> Detergents </figcaption>
          </figure>
        </a>

      </div>

      <div class="column-large-4"></div>
      <div class="column-large-4">
        
        <a href="category.html">
          <figure class="product-block">
            <img src="assets/images/.tmp/product-4.jpg" alt="">
            <figcaption> Chemicals </figcaption>
          </figure>
        </a>

      </div>
      <div class="column-large-4"></div>
    </div>

    <!-- /products -->

  </div>
</div>