<div class="main-slider">
  
  <div class="slides owl-carousel">
    <img src="assets/images/header-back.jpg">
    <img src="assets/images/header-back.jpg">
    <img src="assets/images/header-back.jpg">
  </div>

  <div class="slider-overlay">
    <h1 class="site-title">Sadr Novin Khorasan</h1>
    <p class="site-desc">import & export</p>
    <button class="btn btn-large btn-orange btn-fancy">More information</button>

    <div class="slider-nav"></div>

  </div>
  
</div>