<div class="page about-page">

  <header class="page-header has-site-info">

    <h1 class="page-title"> About us </h1>

    <div class="wrapper">
      <div class="site-info">
        <p class="site-title"> Sadr Novin Khorasan </p>
        <p class="site-desc"> Import & Export </p>
      </div>
    </div>

  </header>

  <div class="page-content">
    <div class="wrapper">

      <div class="row">
        <div class="column-large-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis dolores quia officiis magnam veniam, nihil repellendus
            labore repudiandae laudantium alias asperiores tenetur itaque omnis voluptatibus voluptas, amet eligendi sed
            sapiente.</p>
        </div>
        <div class="column-large-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae beatae quibusdam quaerat accusamus quasi
            minus explicabo in quidem voluptate, enim quia, ullam praesentium.</p>
        </div>
      </div>

      <h2 class="section-title"> Meet the management team </h2>

      <div class="row">
        <div class="column-large-4">
          <figure class="management-block">
            <img src="assets/images/.tmp/manager-1.jpg" alt="">
            <figcaption>
              <span class="name">Ali Akramian</span>
              <span class="position">Co-Founder</span>
            </figcaption>
          </figure>
        </div>

        <div class="column-large-4">
          <figure class="management-block">
            <img src="assets/images/.tmp/manager-2.jpg" alt="">
            <figcaption>
              <span class="name">Kamran Sedaghati</span>
              <span class="position">CEO & Founder</span>
            </figcaption>
          </figure>
        </div>

        <div class="column-large-4">
          <figure class="management-block">
            <img src="assets/images/.tmp/manager-3.jpg" alt="">
            <figcaption>
              <span class="name">Ali Akramian</span>
              <span class="position">Member of the board</span>
            </figcaption>
          </figure>
        </div>
      </div>

    </div>
  </div>

</div>

{{> contact-us-section}}