<div class="page category search-result">

  <div class="wrapper">
    <div class="row">
      <div class="column-large-10">

        <div class="search-item">

          <a href="product.html">
            <h3 class="title"> CHERRY - Product </h3>
            <span class="link"> http://sadrtrading.com/product/cherry </span>
          </a>

          <img src="assets/images/.tmp/berry-1.png" class="thumb" alt="Cherry image">
          <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe natus vitae assumenda odit perferendis minima expedita
            id laborum, sed totam &hellip;</p>

        </div>

        <div class="search-item">

          <a href="product.html">
            <h3 class="title"> CHERRY - Wikipedia </h3>
            <span class="link"> http://sadrtrading.com/product/cherry </span>
          </a>

          <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe natus vitae assumenda odit perferendis minima expedita
            id laborum, sed totam &hellip;</p>

          <ul class="sub-links">
            <li> <a href="product.html">Iran</a> </li>
            <li> <a href="product.html">Turkey</a> </li>
            <li> <a href="product.html">USA</a> </li>
            <li> <a href="product.html">Germany</a> </li>
          </ul>

        </div>

        <div class="search-item">

          <a href="product.html">
            <h3 class="title"> CHERRY - Define Cherry at Dictionary.com </h3>
            <span class="link"> http://sadrtrading.com/product/cherry </span>
          </a>

          <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe natus vitae assumenda odit perferendis minima expedita
            id laborum, sed totam &hellip;</p>

        </div>

      </div>

    </div>

  </div>
</div>

{{> contact-us-section}}