<div class="page contact-page">

  <header class="page-header">

    <h1 class="page-title"> Let’s Get In Touch </h1>
    <p class="page-subtitle"> Here are the ways you can contact us with any questions you have </p>

  </header>

  <div class="page-content">
    <div class="wrapper">

      <div class="row">
        <div class="column-large-6">

          <p class="alert alert-red">Successful</p>

          <form action="">

            <input type="text" class="input margin-bottom" placeholder="Name">
            <input type="text" class="input margin-bottom" placeholder="Email Address">
            <input type="text" class="input margin-bottom" placeholder="Subject">

            <textarea name="" rows="7" class="input margin-bottom" placeholder="Write your message here shortly..."></textarea>

            <button type="submit" class="btn btn-light-blue btn-block"> send enquiry </button>

          </form>

        </div>
        <div class="column-large-6">

          <div class="contact-info">

            <h3 class="title"> Give us a call </h3>

            <dl>
              <dt> Working hours: </dt>
              <dd> We are open from 9am – 5pm week days. </dd>

              <dt> Address: </dt>
              <dd> Unit 404, Setare building, Farhad 24 <br> Farhad street, Dastgheib blvd,Mashhad, Iran </dd>

              <dt> Telephone: </dt>
              <dd> +98 51 37661787 <br> +98 51 37661788 <br> +98 51 37662534</dd>

              <dt> Email: </dt>
              <dd>
                <a href="mailto:sadr.trading1@yahoo.com">sadr.trading1@yahoo.com</a> <br>
                <a href="mailto:sadr.trading2@yahoo.com">sadr.trading2@yahoo.com</a> <br>
                <a href="mailto:sadr.trading1@gmail.com">sadr.trading1@gmail.com</a> <br>
                <a href="mailto:sadr.trading2@gmail.com">sadr.trading2@gmail.com</a>
              </dd>
            </dl>

          </div>

        </div>
      </div>

    </div>

    <div class="map"></div>

  </div>


</div>