<div class="page products-page">

  <header class="page-header">

    <div class="wrapper">
      <h1 class="page-title"> Products List </h1>
      <p class="page-subtitle"> We providing products in high quality </p>
    </div>

  </header>

  <div class="page-content">
    <div class="wrapper">

      <div class="row">
        <div class="column-large-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quo ullam quaerat quis a perferendis laborum
            nemo totam cupiditate consequatur! Voluptate magnam illo beatae quis nostrum aut natus, rerum rem libero similique
            maxime dicta quisquam saepe mollitia perspiciatis doloremque nemo maiores officia. Modi facilis blanditiis ab
            similique recusandae soluta illum animi repellendus explicabo laudantium! Aperiam corporis ratione culpa quae
            eum? Facere tenetur, ex rerum error eius beatae, perferendis fugiat dolorem.</p>
        </div>
        <div class="column-large-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, expedita fugiat provident aspernatur reiciendis
            saepe repellat facilis ratione maiores dolor dolore culpa quod pariatur ab sequi, recusandae impedit sit. Dolor
            incidunt deserunt in dolores impedit accusamus maiores ullam aliquid odio nam sit nesciunt natus amet quibusdam
            commodi magni, cum est, a delectus. In consequuntur officiis, officia explicabo fugiat. Unde voluptates, id magni
            totam nisi qui temporibus et quasi vero cum.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="product-list">

    <h2 class="section-title">Products that we provide</h2>

    <div class="wrapper">
      <div class="row">
        <div class="column-large-4">

          <a href="product.html">
            <figure class="product-block">
              <img src="assets/images/.tmp/product-5.jpg" alt="">
              <figcaption> Petroleum products </figcaption>
            </figure>
          </a>

        </div>
        <div class="column-large-4">

          <a href="product.html">
            <figure class="product-block">
              <img src="assets/images/.tmp/product-6.jpg" alt="">
              <figcaption> Food grade & Industrial Oils </figcaption>
            </figure>
          </a>

        </div>
        <div class="column-large-4">

          <a href="product.html">
            <figure class="product-block">
              <img src="assets/images/.tmp/product-7.jpg" alt="">
              <figcaption> Agricultural products </figcaption>
            </figure>
          </a>

        </div>
        <div class="column-large-4">

          <a href="product.html">
            <figure class="product-block">
              <img src="assets/images/.tmp/product-1.jpg" alt="">
              <figcaption> Animal Feed Products </figcaption>
            </figure>
          </a>

        </div>
        <div class="column-large-4">

          <a href="product.html">
            <figure class="product-block">
              <img src="assets/images/.tmp/product-2.jpg" alt="">
              <figcaption> Textile, cotton & Synthetic Fibers </figcaption>
            </figure>
          </a>

        </div>
        <div class="column-large-4">

          <a href="product.html">
            <figure class="product-block">
              <img src="assets/images/.tmp/product-3.jpg" alt="">
              <figcaption> Detergents </figcaption>
            </figure>
          </a>

        </div>

        <div class="column-large-4"></div>
        <div class="column-large-4">

          <a href="product.html">
            <figure class="product-block">
              <img src="assets/images/.tmp/product-4.jpg" alt="">
              <figcaption> Chemicals </figcaption>
            </figure>
          </a>

        </div>
        <div class="column-large-4"></div>
      </div>
    </div>

  </div>

</div>

{{> contact-us-section}}