<div class="page product-page">
  <div class="wrapper">

    <div class="product-images">

      <figure class="ratio-4x3">
        <div class="ratio-inner">
          <a href="assets/images/.tmp/berry-2.png" data-lightbox="product"> <img src="assets/images/.tmp/berry-2.png" alt=""> </a>
        </div>
      </figure>

      <figure class="ratio-7x5">
        <div class="ratio-inner">
          <a href="assets/images/.tmp/berry-3.png" data-lightbox="product"> <img src="assets/images/.tmp/berry-3.png" alt=""> </a>
        </div>
      </figure>

      <figure class="ratio-7x5">
        <div class="ratio-inner">
          <a href="assets/images/.tmp/berry-4.png" data-lightbox="product"> <img src="assets/images/.tmp/berry-4.png" alt=""> </a>
        </div>
      </figure>

      <figure class="ratio-7x5">
        <div class="ratio-inner">
          <a href="assets/images/.tmp/berry-1.png" data-lightbox="product"> <img src="assets/images/.tmp/berry-1.png" alt=""> </a>

          <div class="overlay-box">
            <span>+2</span>
          </div>

        </div>
      </figure>

      <!-- +2 images -->
      <figure class="ratio-7x5">
        <div class="ratio-inner">
          <a href="assets/images/.tmp/berry-1.png" data-lightbox="product"> <img src="assets/images/.tmp/berry-1.png" alt=""> </a>
        </div>
      </figure>

      <figure class="ratio-7x5">
        <div class="ratio-inner">
          <a href="assets/images/.tmp/berry-1.png" data-lightbox="product"> <img src="assets/images/.tmp/berry-1.png" alt=""> </a>
        </div>
      </figure>

    </div>

    <h1 class="product-title"> Cherry </h1>
    <p class="product-desc">A cherry is the fruit of many plants of the genus Prunus, and is a fleshy drupe (stone fruit).</p>

    <p class="product-origin">Produced in : Iran</p>

    <div class="product-content raw">
      <p>The cherry fruits of commerce usually are obtained from a limited number of species such as cultivars of the sweet
        cherry, Prunus avium. The name 'cherry' also refers to the cherry tree, and is sometimes applied to almonds and visually
        similar flowering trees in the genus Prunus, as in "ornamental cherry" or "cherry blossom". Wild cherry may refer
        to any of the cherry species growing outside of cultivation, although Prunus avium is often referred to specifically
        by the name "wild cherry" in the British Isles.</p>

      <h2>Growing season</h2>
      <p>Like most temperate-latitude trees, cherry seeds require exposure to cold to germinate (an adaptation which prevents
        germination during the autumn, </p>

      <p>In the Southern Hemisphere, cherries are usually at their peak in late December[11] and are widely associated with
        Christmas. 'Kordia' is an early variety which ripens during the beginning of December, 'Lapins peak' ripens near
        the end of December, and 'Sweethearts' finish slightly later.</p>

      <table>
        <caption> Top sour cherry producing nations in 2014 </caption>

        <thead>
          <th>Rank</th>
          <th>Country</th>
          <th>Production</th>
        </thead>

        <tbody>

          <tr>
            <td>1</td>
            <td>Russia</td>
            <td>198.000</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ukrine</td>
            <td>182.500</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Turkey</td>
            <td>182.000</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Poland</td>
            <td>176.450</td>
          </tr>
          <tr>
            <td>5</td>
            <td>United States</td>
            <td>132.970</td>
          </tr>

        </tbody>

      </table>

      <h2>Nutritional value</h2>
      <p>Raw sweet cherries are 82% water, 16% carbohydrates, 1% protein, and negligible in fat (table). As raw fruit, sweet
        cherries provide little nutrient content per 100 g serving (nutrient table). Dietary fiber and vitamin C are present
        in moderate content while other vitamins and dietary minerals each supply less than 10% of the Daily Value (DV) per
        serving, respectively (table).[45]</p>
      <p>Compared to sweet cherries, raw sour cherries contain slightly higher content per 100 g of vitamin C (12% DV) and vitamin
        A (8% DV) (table).</p>

      <h2>Pests and diseases</h2>
      <p>Generally, the cherry can be a difficult fruit tree to grow and keep alive.[9] In Europe, the first visible pest in
        the growing season soon after blossom (in April in western Europe) usually is the black cherry aphid ("cherry blackfly",
        Myzus cerasi), which causes leaves at the tips of branches to curl, with the blackfly colonies exuding a sticky secretion
        which promotes fungal growth on the leaves and fruit. At the fruiting stage in June/July (Europe), the cherry fruit
        fly (Rhagoletis cingulata and Rhagoletis cerasi) lays its eggs in the immature fruit, whereafter its larvae feed
        on the cherry flesh and exit through a small hole (about 1 mm diameter), which in turn is the entry point for fungal
        infection of the cherry fruit after rainfall.[12] In addition, cherry trees are susceptible to bacterial canker,
        cytospora canker, brown rot of the fruit, root rot from overly wet soil, crown rot, and several viruses.</p>
    </div>



    <div class="comment-form">

      <h3 class="title">Intrested in this product?</h3>
      <p class="subtitle"> Get in touchand let us know what do you need </p>

      <form action="">

        <div class="row">
          <div class="column-large-6 margin-bottom">
            <input type="text" class="input" placeholder="Full name">
          </div>

          <div class="column-large-6 margin-bottom">
            <input type="email" class="input" placeholder="Email Address">
          </div>

        </div>
        <div class="row">
          <div class="column-large-6 margin-bottom">
            <input type="text" class="input" placeholder="Mobile Number">
          </div>

          <div class="column-large-6 margin-bottom">
            <select class="input">
              <option value=""> Country </option>
              <option value=""> Iran </option>
              <option value=""> USA </option>
              <option value=""> Germany </option>
            </select>
          </div>

        </div>

        <textarea class="input margin-bottom" rows="6" placeholder="Enter Yout message here ..."></textarea>

        <div class="row">

          <div class="column-large-3">
            <button class="btn btn-blue btn-block">Send the enquery</button>
          </div>

          <div class="column-large-7">
            <p class="alert alert-green"> Your Message has been sent successfully. after reviewubg we will contact with you, Soon. </p>
          </div>

        </div>
        
      </form>

    </div>

  </div>

</div>

{{> contact-us-section}}