<div class="page services-page">

  <div class="page-header">
    <h1 class="page-title">Our Services</h1>
    <p class="page-subtitle">Here you can find our services and see how we work on our industry</p>
  </div>

  <div class="page-content">
    <div class="wrapper">

      <div class="row">
        <div class="column-large-7">

          <blockquote class="quote">
            <h2>We provide quality</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, in omnis possimus nam dolorem modi reiciendis
              totam sint iste distinctio molestias! Velit nulla cum, obcaecati adipisci saepe vel architecto quasi consequatur
              quod eos vitae ad, accusamus quas possimus consequuntur incidunt inventore iure qui, dignissimos, ullam ipsam
              tenetur! Tempore delectus distinctio exercitationem dolores laboriosam, natus impedit facere asperiores perspiciatis
              officia quidem nam eius deserunt atque possimus quisquam tempora, provident, dolor velit consequuntur sint
              pariatur quas! Architecto necessitatibus temporibus dolorem sequi dicta, ad quam itaque illum ratione, corrupti
              officia totam iste saepe? Dicta quia, porro praesentium dolorum enim sint similique quis dolores.</p>

            <footer class="founder-info">
              <p class="founder-name"> Mostafa Karimi Beigi </p>
              <p class="founder-title"> Founder & CEO </p>
            </footer>
          </blockquote>

          <img  class="man-img" src="assets/images/mostafa-karimi-beigi.jpg" alt="A man with hands in pocket">

        </div>

      </div>
    </div>

    <div class="services-list">
      <div class="wrapper">

        <h2 class="title">Our services are includes</h2>
        <p class="subtitle">Lorem ipsum dolor sit amet, no mollis regione accusamus qui. Legere voluptua mei an, possim aliquid utroque et ius, molestie maksu rez id sea.</p>
        
        <div class="service-block">
          <div class="row">
            
            <div class="column-large-4">
              <div class="service-img">
                <img src="assets/images/.tmp/service-1.jpg" alt="">
                <h4 class="service-title"> import </h4>
              </div>
            </div>

            <div class="column-large-8">
              <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cum ex, minus facilis ullam, illum neque ipsum quidem dolorum esse hic eaque animi soluta possimus nesciunt. Corporis officia eligendi ex harum. Officia, aliquam dolores ipsum sunt atque! Minima veritatis ex laudantium velit repellendus asperiores fuga vero repudiandae perspiciatis, odit hic quam? Illo explicabo, fuga minus accusamus magnam nihil non modi!</p>

              <button class="btn btn-small btn-fancy btn-navy">Download catalog</button>
            </div>

          </div>

        </div>

        <div class="service-block">
          <div class="row">
            
            <div class="column-large-4">
              <div class="service-img">
                <img src="assets/images/.tmp/service-2.jpg" alt="">
                <h4 class="service-title"> Export </h4>
              </div>
            </div>

            <div class="column-large-8">
              <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cum ex, minus facilis ullam, illum neque ipsum quidem dolorum esse hic eaque animi soluta possimus nesciunt. Corporis officia eligendi ex harum. Officia, aliquam dolores ipsum sunt atque! Minima veritatis ex laudantium velit repellendus asperiores fuga vero repudiandae perspiciatis, odit hic quam? Illo explicabo, fuga minus accusamus magnam nihil non modi!</p>

              <button class="btn btn-small btn-fancy btn-navy">Download catalog</button>
            </div>

          </div>

        </div>

        <div class="service-block">
          <div class="row">
            
            <div class="column-large-4">
              <div class="service-img">
                <img src="assets/images/.tmp/service-3.jpg" alt="">
                <h4 class="service-title"> Consultant </h4>
              </div>
            </div>

            <div class="column-large-8">
              <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cum ex, minus facilis ullam, illum neque ipsum quidem dolorum esse hic eaque animi soluta possimus nesciunt. Corporis officia eligendi ex harum. Officia, aliquam dolores ipsum sunt atque! Minima veritatis ex laudantium velit repellendus asperiores fuga vero repudiandae perspiciatis, odit hic quam? Illo explicabo, fuga minus accusamus magnam nihil non modi!</p>

              <button class="btn btn-small btn-fancy btn-navy">Download catalog</button>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div>

</div>

{{> contact-us-section}}
