<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> {{app.name}} </title>

  <!-- inject:css -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Playfair+Display:400,700" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="assets/styles/style.css">
  <link rel="stylesheet" type="text/css" href="assets/components/owl.carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="assets/components/lightbox2/dist/css/lightbox.min.css">
  <!-- endinject -->

</head>
<body>

{{> header}}

{{> body}}
  
{{> footer}}
<!-- bower:js -->
<script src="assets/components/jquery/dist/jquery.min.js"></script>
<script src="assets/components/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="assets/components/lightbox2/dist/js/lightbox.min.js"></script>
<!-- endinject -->

<!-- inject:js -->
<script src="assets/scripts/app.js"></script>
<!-- endinject -->
</body>
</html>