buttons = {
  
  css: {
    padding: 13px 20px
    border-radius: 0px
  }

  colors: {

    light-blue: {
      background-color: colors.light-blue
      color: #fff

      '&:hover': {
        background-color: colors.light-blue - 20%
      }
    }

    orange: {
      background-color: colors.orange
      color: #fff

      '&:hover': {
        background-color: colors.orange - 20%
      }
    }

    navy: {
      background-color: colors.navy-blue + 30%
      color: #fff

      '&:hover': {
        background-color: colors.navy-blue + 10%
      }
    }

    fancy: {
      font-weight: bold
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5)
      border-radius: 3px
      text-transform: uppercase
    }

  }
  
  sizes: {

    large: {
      font-size: rem(18)
      padding: 15px 35px
    }

    small: {
      font-weight: normal
      padding: 15px 30px
      font-size: rem(14)
      text-transform: lowercase
    }

  }
  
}
