inputs = {
  input: {
    css: {
      border-radius: 0
      border: solid 1px #cfd8dc
      font-size: rem(16)
      height: 46px
      padding: 13px 10px
      box-shadow: 0px 2px 2px -2px alpha(black, .2)

      '&:hover' : {
        border-color: #cfd8dc - 20%
      }

      '&:focus' : {
        border-color: colors.light-blue
      }

    }
  }

  textarea: {
    css: {
      padding: 13px 10px
    }
  }

  select: {
    css: {
      padding: 10px 10px
    }
  }

}
