tables = {
  selector : '.raw table, .table'

  css: {

    'td, th': {
      border-top: none
      border-bottom: none
      border-right: 1px solid #cfd8dc
      border-left: 1px solid #cfd8dc
      padding: 10px 14px
      text-align: left
      font-size: rem(14)
    }

    caption: {
      font-size: rem(14)
      font-weight: bold
      text-align: center
      text-transform: uppercase
    }

    thead: {
      background-color: #eceff1

      'td, th' : {
        text-align: left
        font-size: rem(12)
        border: 1px solid #cfd8dc
        font-weight: bold
        padding: 13px 15px
        text-transform: uppercase

        '&:last-child': {
          border-top-right-radius: 3px
        }

      }

    }
    
  }

}